*
{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
header
{
    width: 100%;
    overflow: hidden;
}
header figure img
{
    float: left;
    width: 20%;
    height: 50%;
}
header figure
{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 30s slider infinite alternate-reverse;
}
@keyframes slider 
{
    0%{left:0%;}
    20%{left:-100%;}
    25%{left:-100%;}
    45%{left:-200%;}
    50%{left:-200%;}
    70%{left:-300%;}
    75%{left:-300%;}
    95%{left:-400%;}
    100%{left:-400%;}
}
nav
{
    height: 100px;
    background-color: rgb(73, 0, 73);
    line-height: 100px;
    text-align: center;
    font-family: 'Overpass', sans-serif;
    position: sticky;
    margin: 0;
    top: 0;
}
nav li
{
    display: inline;
    padding: 30px;
}
nav a
{
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}
.sekcja1, .sekcja2, .sekcja3
{
    background-color: white;
}
.sekcja1 h2, .sekcja2 h2, .sekcja3 h2
{
    padding-left:100px ;
    padding-right:100px ;
    padding-top: 100px;
    padding-bottom: 10px;
    font-size: 3em;
    font-family: 'Fjalla One', sans-serif;
}
.sekcja1 p, .sekcja2 p, .sekcja3 p
{
    padding-left:100px ;
    padding-right:100px ;
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 1.7em; 
    font-family: 'Overpass', sans-serif;
}
.image
{
    text-align: center;
}
footer
{
    height: 100px;
    background-color: rgb(73, 0, 73);
}
.obrazek1{
    transition: 1s ease;
}
.obrazek1:hover{
    filter:blur(5px);
    transform: scale(1.2);
}
.obrazek2{
    transition: 1s ease-in;
    border:5px solid rgb(73, 0, 73);
    border-radius: 20px;
   
}
.obrazek2:hover{
    filter:hue-rotate(70deg);
    border:5px solid rgb(73, 0, 73);
    border-radius:100px;
    transition: 1s ease-in;
    transform: rotate(360deg);
}
.obrazek3{
    border: 5px solid rgb(73, 0, 73);
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    transition: 1s ease-out;
}
.obrazek3:hover{
    border: 5px solid rgb(73, 0, 73);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    filter: invert(300%);
    transform: rotate(20deg);
}
.obrazek4{
    filter:blur(3px);
    border:3px dotted palevioletred;
    box-shadow: 3px, 3px,3px black;
}
.obrazek4:hover{
    transform: rotate(360deg) scale(1.5);
    transition: 2s ease-in;
    filter: none;
}
.middle{
    text-align: center;
}
.middle img{
    width: 50px;
    padding-top:25px;
    padding-bottom: 25px;
}
#parallax1
{
    height:40vh;
    width:100%;
    background-image:url("../img/ww7.PNG");
    background-size:cover;display:table;
    background-attachment:fixed;
}
#parallax2
{
    height:60vh;
    width:100%;
    background-image:url("../img/ww8.PNG");
    background-size:cover;display:table;
    background-attachment:fixed;
}
#parallax3
{
    height:80vh;
    width:100%;
    background-image:url("../img/ww9.PNG");
    background-size:cover;display:table;
    background-attachment:fixed;
}

@media(max-width:500px)
{
    nav a{
        font-size: 1.5em;
    }
    nav li{
        padding: 15px;
    }
    .sekcja1 h2, .sekcja2 h2,  .sekcja3 h2{
        padding-left: 40px;
        padding-right: 40px;
        font-size: 2em;
    }
    .sekcja1 p, .sekcja2 p, .sekcja3 p{
        padding-left: 40px;
        padding-right: 40px;
        font-size: 1.1em;
    }
    .image img{
        width: 200px;
    }
}
@media (max-width:700px) and (min-width:501px){
    nav a{
        font-size:1.3em
    }
    nav li{
        padding:15px;
    }
}
